---
BasedOnStyle: Google
Language: Cpp

IndentWidth: 4
ContinuationIndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true

  # Keep Google style everywhere else
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

ColumnLimit: 100
PointerAlignment: Left
SortIncludes: true
