---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  performance-*,
  portability-*
HeaderFilterRegex: ".*/src/cses/.*"
WarningsAsErrors: ""
